<div class="container" style="background-image: url('https://cdn.mirror.wiki/https://namu.wiki/file/%ED%8C%8C%EC%9D%BC:r3QqYGQ.jpg'); height: 1200px; width: 1920px;" >

<form action='/write' method="POST" style="margin-top: 5%; margin-left: 5%;">
    <h1>트덕트덕</h1>
    <div class="form-group">
        <label for="exampleInputEmail1">멤버 메일 주소</label>
        <input name="address" type="email" class="form-control" id="exampleInputEmail1" placeholder="알긴 함? 부럽ㅠㅠ">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">메일 제목</label>
        <input name="title" type="text" class="form-control" id="exampleInputEmail1" placeholder="부담되면 안돼요.">
    </div>
    <div class="form-group">
        <label for="comment">메일 내용</label>
        <textarea name="content" class="form-control" rows="5" id="comment" placeholder="말보다는 선물이죠."></textarea>
    </div>
    <button type="submit" class="btn btn-default">전송</button></button>
</form>
</div>