
<img src = "http://www.cnbnews.com/data/photos/old_img/129694a.jpg"/>
<div>
    <h1>진짜 갈 줄 알았아요?ㅎㅎ</h1>
    <h2>아이고</h2>
    <%= @aaa %>
    <h2>의미 없다.</h2></h2>
    <%= @bbb %>
</div>
</br><a href='/'>다시 해봐야 소용 없어</a></a>